.pumukit-collection-icon,
.pumukit-child-icon,
.pumukit-grandchild-icon {
    width: 30px;
    height: 30px;
}

.pumukit-list-collection-hide,
.pumukit-list-child-hide,
.pumukit-list-grandchild-hide {
    display: none;
}

.pumukit-list-collection-show,
.pumukit-list-child-show,
.pumukit-list-grandchild-show {
    display: block;
}